<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="Sudheer.ScheduleAppointment"/>
      <class name="org.iit.mmp.patient.SendMessageTest"/>
      <class name="Sudheer.MMPScheduleAppointmentMethods"/>
      <class name="Sudheer.SeleniumExample"/>
      <class name="org.iit.mmp.patient.PatientFeesTest"/>
      <class name="org.iit.mmp.patient.PatientRegistrationTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
